@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro&display=swap');
/* 
    reglas
    selectores
    declaraciones
    propiedades
    valores 
*/

/* 
    +SELECTOR DE ETIQUETA
    header - seccion - article - nav
*/

header {
    background: pink;
    color: red;
}

/*
    -SELECTOR DESCENDENTE
    body header div nav ol li a
*/

/*
    -SELECTOR DE CLASE
    .link
*/

/*
    -SELECTOR DE ID
    #portafolio
*/

/* #portafolio*/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}