@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro&display=swap');
/* 
    reglas
    selectores
    declaraciones
    propiedades
    valores 
*/

/* 
    +SELECTOR DE ETIQUETA
    header - seccion - article - nav
*/

header {
    background: pink;
    color: red;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    /* text-transform: capitalize;
    text-decoration: dashed; */
}

/*
    -SELECTOR DESCENDENTE
    body header div nav ol li a
*/

/*
    -SELECTOR DE CLASE
    .link
*/

.hero {
    height: 300px;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

/*
    -SELECTOR DE ID
    #portafolio
*/

/* #portafolio*/